doctype html
html
	head
		title #{title}
		link(rel="stylesheet", href="/css/bootstrap.css")
	body
		h1(style="text-align: center") #{title}
		p(style="text-align: center") Set up email alerts for the NYC subway system
		div.jumbotron 
			h1 Subway Lines